<div class="d-flex flex-row align-items-center mb-4">
    <i class="fa-solid fa-calendar-days me-3 fa-xl"></i>
    <div class="form-outline flex-fill mb-0">
        <div>
            <div>
                <input type="text" placeholder="Datepicker" [class.is-invalid]="control.touched && control.invalid"
                    class="form-control" [formControl]="control" [bsConfig]="bsConfig" [maxDate]="maxDate" bsDatepicker>
            </div>
            <div *ngIf="control.errors?.['required']">

            </div>
        </div>
    </div>
</div>