<div class="text-center mt-3">
    <h2>Your Matches - {{pagination?.totalItems}}</h2>
</div>

<div class="container mt-3" *ngIf="userParams">
    <form #form="ngForm" autocomplete="off" class="d-flex mb-3" (ngSubmit)="loadMembers()">
        <div class="d-flex mx-2">
            <label class="col-form-label">Age from:</label>
            <input type="number" name="ageFrom" [(ngModel)]="userParams.minAge" class="form-control ms-1"
                placeholder="Min Age" style="width: 70px;">
        </div>

        <div class="d-flex mx-2">
            <label class="col-form-label">Age to:</label>
            <input type="number" name="ageTo" [(ngModel)]="userParams.maxAge" class="form-control ms-1"
                placeholder="Max Age" style="width: 70px;">
        </div>

        <div class="d-flex mx-2">
            <label class="col-form-label">Show:</label>
            <select type="number" name="gender" [(ngModel)]="userParams.gender" class="form-select ms-1"
                placeholder="Max Age" style="width: 130px;">
                <option *ngFor="let gender of genderList" [value]="gender.value">
                    {{gender.displayName}}
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary ms-1">Apply Filters</button>
        <button type="button" class="btn btn-warning ms-1" (click)="resetFilters()">Reset</button>


        <div class="col">
            <div class="btn-group float-end">
                <button class="btn btn-success" name="orderBy" [(ngModel)]="userParams.orderBy" (click)="loadMembers()"
                    btnRadio="lastActive">
                    Last Active
                </button>



                <button class="btn btn-success" name="orderBy" [(ngModel)]="userParams.orderBy" (click)="loadMembers()"
                    btnRadio="created">
                    Newest members
                </button>
            </div>
        </div>
    </form>
</div>


<div class="row">
    <div class="col-2" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
    </div>
</div>


<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="10" [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>